  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #36393f;
  }
  
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    height: 100vh;
    color: #fff;
  }
  
  .logo {
    background-color: #7289da;
    width: 100%;
  }

  h1 {
    font-size: calc(2vh + 2vw);
    margin: calc(.5vh + .5vw);
  }

  .login {
    margin-top: calc(30vh);
  }
  
  .inputBox {
    font-size: calc(1vh + 1vw);
    padding: calc(.4vh + .4vw);
    margin-bottom: 5vh;
    width: 35vw;
    border: none;
    background-color: #202225;
    color: #fff;
    border-radius: calc(.3vh + .3vw);
    box-shadow: 0 0 calc(.5vh + .5vw) rgba(0, 0, 0, 0.3);
  }
  
  button {
    font-size: calc(.8vh + .8vw);
    padding: calc(.4vh + .4vw);
    background-color: #7289da;
    color: #fff;
    border: calc(.1vh + .1vw) solid #5667a3;
    cursor: pointer;
    border-radius: calc(1vh + 1vw);
    box-shadow: 0 0 calc(.5vh + .5vw) rgba(0, 0, 0, 0.3);
  }
  
  button:hover {
    background-color: #677bc4;
  }

  #roomInfoDiv {
    height: 5vh;
  }

  #roomContainer {
    display: none;
  }

  #settingsPanel {
    background-color: #282b30;
    padding: calc(.5vh + .5vw);
    margin-bottom: calc(.5vh + .5vw);
  }

  .hostWall {
    opacity: 0.5;
    pointer-events: none;
  }

  .filter {
    display: table;
    width: 60vw;
  }

  .column {
    float: left;
    width: 33.33%;
  }

  .entryContainer {
    display: inline-block;  
    width: 100%;
    word-break: break-all;
  }

  #gameContainer {
    padding-right: 1vw;
    display: none;
    align-self: center;
  }

  #messageContainer {
    margin-top: 4vh;
    margin-bottom: 3vh;
    min-height: 69vh;
    width: 45vw;
    flex-direction: row;
    overflow: hidden;
    align-items: flex-start;
  }

  #messageLeft {
    width: 5vw;
  }

  #pfp {
    width: 100%;
    height: auto;
  }
  
  #messageRight{
    flex-direction: column;
    padding-left: 1vw;
  }

  .messageContent {
    display: flex;
    margin-bottom: 1vh;
    flex-direction: row;
    height: fit-content;
    width: 40vw;
  }
  
  #author {
    font-weight: bold;
    align-self: last baseline;
    margin-right: 1vw;
    font-size: calc(1vh + 1vw);
  }
  
  #timestamp {
    color: gray;
    align-self: last baseline;
    font-size: calc(.6vh + .6vw);
  }

  #messageTextContainer {
    margin: 0px;
    font-size: calc(.8vh + .8vw);
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .msgText {
    display: block;
    word-wrap: break-word;
    max-width: 100%;
  }
  
  .emoji {
    width: 2vw;
    height: auto;
  }

  .mediaContainer {
    width: 100%;
    height: fit-content;
  }

  .media {
    max-width: 100%;
    max-height: 30vh;
    margin-right: auto;
    height: fit-content;
    width: auto;
  }

  #userEntry {
    flex-direction: row;
    font-size: calc(1vh + 1vw);
    margin-bottom: 3vh;
  }

  #answer {
    margin-bottom: 0px;
    margin-right: 1vw;
  }

  #mainContainer {
    display: none;
    grid-template-columns: 1fr 3fr 1fr;
    place-items: center;
  }

  .tableBorder {
    border-collapse: collapse;
    background-color: #2C2F33;
    border: calc(.07vh + .07vw) solid #202225;
    box-shadow: 0 0 calc(.5vh + .5vw) rgba(0, 0, 0, 0.3);
  }


  /* Styling for the player list table */
  .outerColumn {
    margin-top: 5vh;
    margin-bottom: auto;
  }
  
  #playerTable {
    width: 15vw;
  }
  
  #playerTable th {
    padding: calc(.5vh + .5vw);
    text-align: center;
    background-color: #202225;
    border-bottom: calc(.01vh + .01vw) solid #36393F;
  }
  
  #playerTable td {
    padding: calc(.2vh + .2vw) calc(.3vh + .3vw);
    text-align: left;
    border-bottom: calc(.01vh + .01vw) solid #36393F;
    word-wrap: break-word;
  }
  
  #playerTable tr:last-child td {
    border-bottom: none;
  }
