  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #36393f;
  }
  
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    height: 100vh;
    color: #fff;
  }
  
  .logo {
    background-color: #7289da;
    width: 100%;
  }

  h1 {
    font-size: calc(3vh + 3vw);
    margin: calc(.5vh + .5vw);
  }

  .login {
    margin-top: calc(30vh);
  }
  
  .inputBox {
    font-size: calc(1vh + 1vw);
    padding: calc(.4vh + .4vw);
    margin-bottom: 5vh;
    width: 35vw;
    border: none;
    background-color: #202225;
    color: #fff;
    border-radius: calc(.3vh + .3vw);
  }
  
  button {
    font-size: calc(1vh + 1vw);
    padding: calc(.4vh + .4vw);
    background-color: #7289da;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: calc(1vh + 1vw);
  }
  
  button:hover {
    background-color: #677bc4;
  }

  #roomContainer {
    display: none;
  }

  #settingsPanel {
    background-color: #282b30;
    padding: calc(.5vh + .5vw);
    margin: calc(.5vh + .5vw);
  }

  .filter {
    display: table;
    width: 60vw;
  }

  .column {
    float: left;
    width: 33.33%;
  }

  .entryContainer {
    display: inline-block;  
    width: 100%;
    word-break: break-all;
  }

  #gameContainer {
    display: none;
    align-self: center;
  }

  #messageContainer {
    margin-top: 5vh;
    margin-bottom: 3vh;
    min-height: 69vh;
    width: 45vw;
    flex-direction: row;
    overflow: hidden;
    align-items: flex-start;
  }

  #messageLeft {
    width: 5vw;
    margin-bottom: auto;
  }

  #pfp {
    width: 100%;
    height: auto;
  }
  
  #messageRight{
    flex-direction: column;
    padding-left: 1vw;
  }

  .messageContent {
    display: flex;
    margin-bottom: 1vh;
    flex-direction: row;
    height: fit-content;
    width: 40vw;
  }
  
  #author {
    font-weight: bold;
    align-self: last baseline;
    margin-right: 1vw;
    font-size: calc(1vh + 1vw);
  }
  
  #timestamp {
    color: gray;
    align-self: last baseline;
    font-size: calc(.6vh + .6vw);
  }

  #messageTextContainer {
    margin: 0px;
    font-size: calc(.8vh + .8vw);
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .msgText {
    display: block;
    word-wrap: break-word;
    max-width: 100%;
  }
  
  .emoji {
    width: 2vw;
    height: auto;
  }

  #userEntry {
    position: relative;
    flex-direction: row;
    font-size: calc(1vh + 1vw);
    margin-bottom: 3vh;
  }

  #answer {
    margin-bottom: 0px;
    margin-right: 1vw;
  }